<section class="proyectos">
    <div class="experiencias-add">
        <h1>Proyectos</h1>
        <a href="" class="material-symbols-outlined edit_button">add_circle</a>
    </div>

    <div class="tarjeta_educacion">
        <img src="../../../assets/img/boda.jpg" alt="boda" class="tarjeta_experiencia_imagen">
        <h1 class="tarjeta_experiencia_titulo">Invitacion para boda</h1>
        <p class="tarjeta_experiencia_desc">Diseño de una tarjeta de invitación para un matrimonio en formato web. El objetivo principal del proyecto fue reflejar la elegancia y estilo que caracterizan al evento. Además, se incluyó la opción de confirmar la asistencia al mismo, brindando una herramienta práctica para la organización del acontecimiento. <a target="_blank" href="https://casamiento-nico-y-flor.netlify.app/" class="tarjeta-experiencias-link">Click aqui para visitar la web.</a></p>
        <div class="opciones-edicion">
            <a href="" class="material-symbols-outlined edit_button">edit</a>
            <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
        </div>
    </div>

    <div class="tarjeta_educacion">
        <img src="../../../assets/img/elmarques.png" alt="el marques" class="tarjeta_experiencia_imagen">
        <h1 class="tarjeta_experiencia_titulo">El Marqués Bar Café</h1>
        <p class="tarjeta_experiencia_desc">Diseño y desarrollo de una carta de presentación virtual para un establecimiento gastronómico de tipo bar-café. La implementación de esta carta se realizó utilizando el framework de Django, lo que permite a los propietarios del negocio agregar, modificar y eliminar los distintos platos y productos que ofrecen a sus clientes. <a target="_blank" href="http://elmarquesbarcafe.pythonanywhere.com/" class="tarjeta-experiencias-link">Click aqui para visitar la web.</a></p>
        <div class="opciones-edicion">
            <a href="" class="material-symbols-outlined edit_button">edit</a>
            <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
        </div>
    </div>

    <div class="tarjeta_educacion">
        <img src="../../../assets/img/justiceleague.jpg" alt="justice league" class="tarjeta_experiencia_imagen">
        <h1 class="tarjeta_experiencia_titulo">Justice League</h1>
        <p class="tarjeta_experiencia_desc">Trabajo Práctico desarrollado en el ámbito académico, específicamente para la Universidad Nacional de Jujuy. El trabajo consistió en el diseño y desarrollo de una tienda virtual ficticia mediante el uso del framework Django. La tienda ha sido bautizada como "Justice League" y se especializa en la venta de videojuegos. <a target="_blank" href="http://teamjusticeleague.pythonanywhere.com/" class="tarjeta-experiencias-link">Click aqui para visitar la web.</a></p>
        <div class="opciones-edicion">
            <a href="" class="material-symbols-outlined edit_button">edit</a>
            <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
        </div>
    </div>

    <div class="tarjeta_educacion">
        <img src="../../../assets/img/perrofeliz.png" alt="perrofeliz" class="tarjeta_experiencia_imagen">
        <h1 class="tarjeta_experiencia_titulo">Veterinaria PerroFeliz</h1>
        <p class="tarjeta_experiencia_desc">Trabajo Práctico desarrollado en el ámbito académico, específicamente para la Universidad Nacional de Jujuy. El trabajo consistió en el diseño y desarrollo de una web ficticia, utilizando unicamente HTML, CSS y JavaScript. La web pertenece a una veterinaria llamada PerroFeliz que ofrece servicios veterinarios y acicalamiento para caninos. <a target="_blank" href="https://veterinaria-perrofeliz.netlify.app/" class="tarjeta-experiencias-link">Click aqui para visitar la web.</a></p>
        <div class="opciones-edicion">
            <a href="" class="material-symbols-outlined edit_button">edit</a>
            <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
        </div>
    </div>

    <div class="tarjeta_educacion">
        <img src="../../../assets/img/perfil.jpg" alt="Juan Reynoso" class="tarjeta_experiencia_imagen">
        <h1 class="tarjeta_experiencia_titulo">Portfolio Web</h1>
        <p class="tarjeta_experiencia_desc">Portfolio web desarrollado y diseñado para el proyercto final del programa "Argentina Programa - #YoProgramo"</p>
        <div class="opciones-edicion">
            <a href="" class="material-symbols-outlined edit_button">edit</a>
            <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
        </div>
    </div>
</section>