<section class="educacion">
    <div class="experiencias-add">
        <h1>Educacion</h1>
        <a href="" class="material-symbols-outlined edit_button">add_circle</a>
    </div>

    <div class="tarjeta_educacion">
        <img src="../../../assets/img/unju.jpeg" alt="Universidad Nacional de Jujuy" class="tarjeta_experiencia_imagen">
        <h1 class="tarjeta_experiencia_titulo">Universidad Nacional de Jujuy</h1>
        <p class="tarjeta_experiencia_desc">Me encuentro actualmente cursando el tercer año de la carrera de Ingeniería Informática en la Facultad de Ingeniería de la Universidad Nacional de Jujuy, institución académica de reconocida trayectoria en el ámbito de la educación superior en Argentina.</p>
        <div class="opciones-edicion">
            <a href="" class="material-symbols-outlined edit_button">edit</a>
            <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
        </div>
    </div>

    <div class="tarjeta_educacion">
        <img src="../../../assets/img/argentinaprograma.png" alt="Argentina Programa" class="tarjeta_experiencia_imagen">
        <h1 class="tarjeta_experiencia_titulo">Argentina Programa - #YoProgramo</h1>
        <p class="tarjeta_experiencia_desc">Participo activamente en el programa "Argentina Programa", una iniciativa del gobierno argentino que busca incentivar la formación de profesionales altamente capacitados en distintas áreas de conocimiento.</p>
        <div class="opciones-edicion">
            <a href="" class="material-symbols-outlined edit_button">edit</a>
            <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
        </div>
    </div>
</section>