<section class="habilidades">
    <div class="experiencias-add">
        <h1>Habilidades</h1>
        <a href="" class="material-symbols-outlined edit_button">add_circle</a>
    </div>

    <div class="experiencias-add">
        <h1>Hard skills</h1>
    </div>

    <div class="tarjetas_habilidad">
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>HTML</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills html">100%</div>
            </div>
        </div>
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>CSS</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills html">100%</div>
            </div>
        </div>
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>JavaScript</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills js">65%</div>
            </div>
        </div>
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>Java</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills java">75%</div>
            </div>
        </div>
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>Python</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills py">85%</div>
            </div>
        </div>
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>Django</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills dj">60%</div>
            </div>
        </div>

    </div>

    <div class="experiencias-add">
        <h1>Soft skills</h1>
    </div>

    <div class="tarjetas_habilidad">
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>Comunicación</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills com">85%</div>
            </div>
        </div>
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>SCRUM</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills sc">75%</div>
            </div>
        </div>
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>Creatividad</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills com">90%</div>
            </div>
        </div>

    </div>
    <div class="experiencias-add">
        <h1>Idiomas</h1>
    </div>

    <div class="tarjetas_habilidad">
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>Ingles</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills ingles">100%</div>
            </div>
        </div>
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>Portuges</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills port">35%</div>
            </div>
        </div>
        <div class="tarjeta_habilidad">
            <div class="experiencias-add">
                <h1>Italiano</h1>
                <a href="" class="material-symbols-outlined edit_button">edit</a>
                <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
            </div>
            <div class="habilidades_cont">
                <div class="skills it">25%</div>
            </div>
        </div>
    </div>
</section>