<section class="experiencias">
    <div class="experiencias-add">
        <h1>Experiencias</h1>
        <a href="/nuevaexp" *ngIf="isLogged" class="material-symbols-outlined edit_button">add_circle</a>
    </div>

    <div class="tarjeta_experiencias" *ngFor="let Experiencia of expe">
        <img src="../../../assets/img/inti.png" alt="inti" class="tarjeta_experiencia_imagen">
        <h1 class="tarjeta_experiencia_titulo">{{Experiencia.nombreE}}</h1>
        <p class="tarjeta_experiencia_desc">{{Experiencia.descripcionE}}</p>
        <div class="opciones-edicion" *ngIf="isLogged">
            <a href="/editexp/{{Experiencia.id}}" class="material-symbols-outlined edit_button">edit</a>
            <a href="" class="material-symbols-outlined delete_button" (click)="delete(Experiencia.id)">delete_forever</a>
        </div>
    </div>

<!--
    <div class="tarjeta_experiencias" *ngFor="let Experiencia of expe">
        <img src="../../../assets/img/inti.png" alt="inti" class="tarjeta_experiencia_imagen">
        <h1 class="tarjeta_experiencia_titulo">Instituto Nacional de Tecnología Industrial</h1>
        <p class="tarjeta_experiencia_desc">Organismo público argentino dedicado a promover el desarrollo de la industria nacional y la mejora de la competitividad de las empresas, a través de la implementación de políticas y programas de innovación tecnológica.</p>
        <div class="opciones-edicion">
            <a href="" class="material-symbols-outlined edit_button">edit</a>
            <a href="" class="material-symbols-outlined delete_button">delete_forever</a>
        </div>
    </div>
-->
</section>