<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  </head>
  
  <app-nav></app-nav>
  <article class="main_article">
    <app-banner></app-banner>
    <section class="content">
      <app-informacion-personal></app-informacion-personal>
      <app-experiencias></app-experiencias>
      <app-educacion></app-educacion>
      <app-habilidades></app-habilidades>
      <app-proyectos></app-proyectos>
      <app-footer></app-footer>
    </section>
  </article>
  