<section class="informacion_personal">
    <div class="foto_perfil">
        <div class="grid_foto">
            <img src="{{persona.img}}" alt="Juan Reynoso" class="perfil">
        </div>
    </div>
    <div class="informacion_perfil">
        <div class="grid_edit">
            <h1 class="nombre_perfil">{{persona.nombre}} {{persona.apellido}}</h1>
        </div>
        <div class="grid_edit">
            <p class="acercademi">Mi nombre es Juan Ignacio Reynoso, tengo 20 años y actualmente estudio ingeniería informática en la Facultad de Ingeniería de la Universidad Nacional de Jujuy. Me apasiona el mundo de la tecnología y estoy constantemente buscando formas de aprender y mejorar mis habilidades en este campo. Me encanta trabajar en proyectos desafiantes que me permitan aplicar mis conocimientos y enfrentar nuevos retos. Además de mi interés por la informática, también disfruto de la música y el deporte.</p>
        </div>
    </div>
</section>